.w3m-container {
  width: 100%;
  background: var(--w3m-color-bg-2);
  border-top: 1px solid var(--w3m-color-bg-3);
  transition: background-color, 0.2s ease;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px 0px;
  column-gap: 4px;
  color: var(--w3m-color-fg-2);
}

svg {
  margin-top: 1px;
}

svg > path {
  transition: stroke, 0.2s ease;
}

svg > rect {
  transition: stroke, 0.2s ease;
  margin-top: 1px;
}

.icon {
  transition: fill, 0.2s ease;
}

.w3m-container:hover {
  background-color: var(--w3m-color-bg-1);
}

.w3m-container:hover > button > svg > path {
  stroke: var(--w3m-background-color);
}

.w3m-container:hover > button > svg > rect {
  stroke: var(--w3m-background-color);
}

::part(anim) {
  transition: color, 0.2s ease;
}

button:hover > ::part(anim) {
  color: var(--w3m-background-color);
}
