.w3m-container {
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.w3m-container-button {
  margin-bottom: 38px;
}

w3a-loader {
  position: absolute;
}
