.spinner {
  border-radius: 999px;
  width: 24px;
  height: 24px;
  color: var(--w3m-color-fg-3);
  fill: var(--w3m-background-color);
  animation: spin 1s linear infinite;
  opacity: 0;
}

.error {
  opacity: 0;
  left: 50%;
  position: absolute;
  right: 50%;
  transform: translate(-50%, 50%);
}

.checkmark {
  position: absolute;
  opacity: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 50%);
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}
